<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDFCreator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7552DE91E0BE62C00950582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7552E021E0BE62C00950582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7552E0D1E0BE62C00950582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
